
  <!-- Header -->
  <header class="w3-container w3-red w3-center" style="padding:8px 16px">
    <img class="croppic img-fluid" src="../../assets/img/logo.png" style="width:150px;height:150px;">
    <p>MAKE A LOVES IN CYBERSPACE</p>
  </header>

  
  
  <!-- First Grid -->
<div>
  
    <div class="w3-row-padding w3-padding-64 w3-container" style="width: 46%;
    float: left;
    margin: 1%;">

    <header>
      <h1>ABOUT US</h1>
      <p></p>
      <p></p>
      <p style="text-align:justify">
        The 2sweet dating website is online dating or Internet dating is a system that enables people to find and introduce themselves to new personal connections over the Internet, usually with the goal of developing personal, romantic, or sexual relationships. This dating websites allow user to register for free account and has features to add new friends and sending text message through the dating site. It is very convenient because the interface is simple and easy to understand. User also easy to understand the use and flow of the dating site. </p>



        <h1>Objective</h1>

        <p style="text-align:justify">
          DOur business goals and objectives need to meet with customer needs. The team need to do brainstorming and share ideas with the teammate. To generate the best online dating sites, we need to share ideas to make it better dating sites and meet the requirements of the customer</p>
      </header>
    
    </div>

    <div class="w3-row-padding w3-padding-64 w3-container" 
    style="width: 40%;
    float: right;
    margin: 1%;">
    
      <form class="modal-content animate">
          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
    
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
    
            <button type="submit" class="w3-red">Login</button> 
            <input type="checkbox" checked="checked" name="remember"> Remember me
          
  
            <div class="container w3-red" >
            <button type="button" class="cancelbtn" routerLink="signup">Register</button>
          </div>
        </div>
      </form>



</div>